name: my-workflow

# Exécuter pour chaque push et chaque pull request sur toutes les branches
on:
  push:
  pull_request:

jobs:
  my-job:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install Dependencies
        run: bun install

      # Exécuter bun run test
      - name: Run Tests
        run: bun run test
